footer {
    line-height: 25px;
    margin-top: 50px;
    color: white;
    background-color: #252525;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .contactGrid {
        display: flex;
        flex-flow: row;
        gap: 20px;

        a {
            color: white;
        }
    }
}