body .gridArchives {
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;

    .expoCard {
        width: 400px;
        height: 300px;
        overflow: hidden;

        img {
            width: 350px;
        }
    }
}