main {
    // text-align: center;
    // justify-content: center;
    // align-items: center;
    display: flex;
    flex-flow: column;
    gap: 50px;
    padding: 30px 15%;

    section {
        // width: 80%;

        p {

            text-align: left;
            font-size: 17px;
            line-height: 25px;
        }

        .extrait {
            padding-top: 20px;
        }

        .textComplet {
            display: none;
        }

        .read-more {
            text-decoration: underline;
        }
    }
}