main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 50px;

    section {
        width: 50%;

        p {
            text-align: justify;
            font-size: 17px;
            line-height: 25px;
        }

        .textComplet {
            display: none;
        }

        .read-more {
            text-decoration: underline;
        }
    }
}